<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <title>Document</title>
</head>
<body>
     <h1>This page is about Asif</h1>

    <p>
      My name is Asif Mahmood. I'm from Pakistan. I'm living in Amsterdam. I'm
      doing Ironhack part time bootcamp.
    </p>

    <section class="buttons">
      <button class="btn"><a href="./home.html" class="link">Home</a></button>
      <button class="btn"><a href="./works.html" class="link">Works</a></button>
    </section>
</body>
</html>