<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <title>Document</title>
</head>
<body>
   <h1>This is home page about Asif</h1>

    <p>
      This is my first effort to create a page using backend technologies.
      Please visit below pages if you want to know more about me.
    </p>

    <section class="buttons">
      <button class="btn"><a href="./about.html" class="link">About</a></button>
      <button class="btn"><a href="./works.html" class="link">works</a></button>
    </section>
</body>
</html>